In [1]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

#Q:Which Community Districts in NYC show the highest number of complaints?

In [2]:
#2
#os.system("curl -O https://data.cityofnewyork.us/resource/erm2-nwe9.csv")
#os.system("mv erm2-nwe9.csv " + os.getenv("PUIDATA"))

In [3]:
data = pd.read_csv(os.getenv("PUIDATA") + '/' + 'erm2-nwe9.csv')
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,34666003,10/31/2016 11:16:02 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11228.0,930 73 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.626284,-74.014215,"(40.626284457572716, -74.01421534164334)"
1,34666002,10/31/2016 11:15:18 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,10470.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.898450,-73.854298,"(40.89844965691687, -73.85429832975592)"
2,34668139,10/31/2016 11:03:52 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,10314.0,55 PERRY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611195,-74.130085,"(40.611194968031164, -74.13008460276865)"
3,34665569,10/31/2016 10:53:16 AM,10/31/2016 10:53:16 AM,DOT,Department of Transportation,Street Condition,Pothole,NaN,11209.0,87 70 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.637114,-74.032936,"(40.63711429954738, -74.0329355116319)"
4,34666688,10/31/2016 10:50:59 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11209.0,87 70 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.637114,-74.032936,"(40.63711429954738, -74.0329355116319)"

In [4]:
#3
data2 = (data.groupby(['Community Board'], as_index=False).count())
data2.head()

,Community Board,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,0 Unspecified,29,29,20,29,29,29,29,21,1,...,0,0,0,2,0,0,0,0,0,0
1,01 BRONX,8,8,2,8,8,8,8,8,8,...,0,0,0,0,0,0,0,8,8,8
2,01 BROOKLYN,29,29,16,29,29,29,29,26,29,...,0,0,0,0,0,0,0,29,29,29
3,01 MANHATTAN,13,13,2,13,13,13,13,7,13,...,0,0,0,0,0,0,0,13,13,13
4,01 QUEENS,23,23,6,23,23,23,23,21,23,...,0,0,0,0,0,0,0,23,23,23

In [5]:
len(data2)

65

In [34]:
data2['Community Board'].drop_duplicates()

0             0 Unspecified
1                  01 BRONX
2               01 BROOKLYN
3              01 MANHATTAN
4                 01 QUEENS
5          01 STATEN ISLAND
6                  02 BRONX
7               02 BROOKLYN
8              02 MANHATTAN
9                 02 QUEENS
10         02 STATEN ISLAND
11                 03 BRONX
12              03 BROOKLYN
13             03 MANHATTAN
14                03 QUEENS
15         03 STATEN ISLAND
16                 04 BRONX
17              04 BROOKLYN
18             04 MANHATTAN
19                04 QUEENS
20                 05 BRONX
21              05 BROOKLYN
22             05 MANHATTAN
23                05 QUEENS
24                 06 BRONX
25              06 BROOKLYN
26             06 MANHATTAN
27                06 QUEENS
28                 07 BRONX
29              07 BROOKLYN
              ...
35                08 QUEENS
36                 09 BRONX
37              09 BROOKLYN
38             09 MANHATTAN
39                09 QUEENS
40                 10 BRONX
41              10 BROOKLYN
42             10 MANHATTAN
43                10 QUEENS
44                 11 BRONX
45              11 BROOKLYN
46             11 MANHATTAN
47                11 QUEENS
48                 12 BRONX
49              12 BROOKLYN
50             12 MANHATTAN
51                12 QUEENS
52              13 BROOKLYN
53                13 QUEENS
54              14 BROOKLYN
55                14 QUEENS
56              15 BROOKLYN
57              16 BROOKLYN
58              17 BROOKLYN
59              18 BROOKLYN
60                81 QUEENS
61        Unspecified BRONX
62     Unspecified BROOKLYN
63    Unspecified MANHATTAN
64       Unspecified QUEENS
Name: Community Board, dtype: object

In [35]:
data2 = data2.rename(columns={'Complaint Type': 'Complaint_Type', 'Resolution Description': 'Resolution_Description'})
data2.Resolution_Description.fillna(data2.Complaint_Type, inplace=True)

In [36]:
data2.Resolution_Description.isnull().sum()

0

In [42]:
data2 = data2[data2['Community Board'].str.contains('Unspecified') !=True]

In [43]:
data2['Community Board'].drop_duplicates()

1             01 BRONX
2          01 BROOKLYN
3         01 MANHATTAN
4            01 QUEENS
5     01 STATEN ISLAND
6             02 BRONX
7          02 BROOKLYN
8         02 MANHATTAN
9            02 QUEENS
10    02 STATEN ISLAND
11            03 BRONX
12         03 BROOKLYN
13        03 MANHATTAN
14           03 QUEENS
15    03 STATEN ISLAND
16            04 BRONX
17         04 BROOKLYN
18        04 MANHATTAN
19           04 QUEENS
20            05 BRONX
21         05 BROOKLYN
22        05 MANHATTAN
23           05 QUEENS
24            06 BRONX
25         06 BROOKLYN
26        06 MANHATTAN
27           06 QUEENS
28            07 BRONX
29         07 BROOKLYN
30        07 MANHATTAN
31           07 QUEENS
32            08 BRONX
33         08 BROOKLYN
34        08 MANHATTAN
35           08 QUEENS
36            09 BRONX
37         09 BROOKLYN
38        09 MANHATTAN
39           09 QUEENS
40            10 BRONX
41         10 BROOKLYN
42        10 MANHATTAN
43           10 QUEENS
44            11 BRONX
45         11 BROOKLYN
46        11 MANHATTAN
47           11 QUEENS
48            12 BRONX
49         12 BROOKLYN
50        12 MANHATTAN
51           12 QUEENS
52         13 BROOKLYN
53           13 QUEENS
54         14 BROOKLYN
55           14 QUEENS
56         15 BROOKLYN
57         16 BROOKLYN
58         17 BROOKLYN
59         18 BROOKLYN
60           81 QUEENS
Name: Community Board, dtype: object

In [44]:
len(data2)

60

In [45]:
data2 = data2[data2['Community Board'].str.contains('81') !=True]

In [47]:
len(data2) #now after dropping all unspecified and duplicates 
#we have 59 values

59

In [75]:
data2.columns

Index([u'Community Board', u'Unique Key', u'Created Date', u'Closed Date',
       u'Agency', u'Agency Name', u'Complaint_Type', u'Descriptor',
       u'Location Type', u'Incident Zip', u'Incident Address', u'Street Name',
       u'Cross Street 1', u'Cross Street 2', u'Intersection Street 1',
       u'Intersection Street 2', u'Address Type', u'City', u'Landmark',
       u'Facility Type', u'Status', u'Due Date', u'Resolution_Description',
       u'Resolution Action Updated Date', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'],
      dtype='object')

In [77]:
data2.drop([u'Created Date', u'Closed Date',
       u'Agency', u'Agency Name', u'Complaint_Type', u'Descriptor',
       u'Location Type', u'Incident Zip', u'Incident Address', u'Street Name',
       u'Cross Street 1', u'Cross Street 2', u'Intersection Street 1',
       u'Intersection Street 2', u'Address Type', u'City', u'Landmark',
       u'Facility Type', u'Status', u'Due Date', u'Resolution_Description',
       u'Resolution Action Updated Date', u'Borough',
       u'X Coordinate (State Plane)', u'Y Coordinate (State Plane)',
       u'Park Facility Name', u'Park Borough', u'School Name',
       u'School Number', u'School Region', u'School Code',
       u'School Phone Number', u'School Address', u'School City',
       u'School State', u'School Zip', u'School Not Found',
       u'School or Citywide Complaint', u'Vehicle Type',
       u'Taxi Company Borough', u'Taxi Pick Up Location',
       u'Bridge Highway Name', u'Bridge Highway Direction', u'Road Ramp',
       u'Bridge Highway Segment', u'Garage Lot Name', u'Ferry Direction',
       u'Ferry Terminal Name', u'Latitude', u'Longitude', u'Location'], axis=1, inplace=True)

In [119]:
ComDistLevel=(data2.groupby(['Community Board'], as_index=False).count())

In [120]:
ComDistLevel=ComDistLevel.rename(columns={'Unique Key': 'Complaints'})

In [121]:
#ComDistLevel = ComDistLevel.sort_values(by='Complaints', ascending=0)

In [122]:
ComDistLevel.head()

    Community Board  Complaints
0          01 BRONX           1
1       01 BROOKLYN           1
2      01 MANHATTAN           1
3         01 QUEENS           1
4  01 STATEN ISLAND           1

In [151]:
#4
df_pop = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv')

In [152]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [153]:
df_pop = (df_pop.groupby(['cd_id'], as_index=False).count())

In [154]:
df_pop

,cd_id,FIPS,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,BK01,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,BK02,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,BK03,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,BK04,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,BK05,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,BK06,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6,BK07,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7,BK08,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
8,BK09,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
9,BK10,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
10,BK11,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
11,BK12,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
12,BK13,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
13,BK14,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
14,BK15,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
15,BK16,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
16,BK17,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
17,BK18,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
18,BX01,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
19,BX02,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20,BX03,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21,BX04,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
22,BX05,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
23,BX06,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
24,BX07,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
25,BX08,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
26,BX09,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
27,BX10,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
28,BX11,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
29,BX12,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
30,MN01,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
31,MN02,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
32,MN03,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
33,MN04,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
34,MN05,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
35,MN06,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
36,MN07,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
37,MN08,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
38,MN09,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
39,MN10,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
40,MN11111,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
41,MN12,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
42,QN01,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
43,QN02,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
44,QN03,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
45,QN04,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
46,QN05,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
47,QN06,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
48,QN07,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
49,QN08,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
50,QN09,1,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
51,QN10,1,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
52,QN11,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
53,QN12,1,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
54,QN13,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
55,QN14,1,1,1,1,1,1,1,0,0,...,1,1,1,1,1,1,1,1,1,1
56,SI01,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
57,SI02,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
58,SI03,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [155]:
len(df_pop) #59 districts

59

In [156]:
df_pop.columns

Index([u'cd_id', u'FIPS', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [157]:
df_pop2 = df_pop.iloc[:,[0, 139]]

In [159]:
df_pop2.head()

  cd_id  Median household income (In 2014 Inflation Adjusted Dollars)
0  BK01                                                  1
1  BK02                                                  1
2  BK03                                                  1
3  BK04                                                  1
4  BK05                                                  1

In [165]:
df_infr = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv')

In [166]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [167]:
len(df_infr)

59

In [168]:
df_infr2 = (df_infr.groupby(['Qualifying Name'], as_index=False).count())

In [169]:
df_infr2.head()

,Qualifying Name,FIPS,Geographic Identifier,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,NYC-Bronx Community District 1 & 2--Hunts Poin...,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,"NYC-Bronx Community District 10--Co-op City, N...",1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,NYC-Bronx Community District 11--Pelham Parkwa...,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,"NYC-Bronx Community District 12--Wakefield, Ne...",1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [170]:
len(df_infr2) #55 Community Districts

55

In [171]:
df_infr2.columns

Index([u'Qualifying Name', u'FIPS', u'Geographic Identifier', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [176]:
WithMobileBroadband = df_infr2.iloc[:,[0, 7, 10, 13, 16, 19, 21]]

In [177]:
WithMobileBroadband.columns

Index([u'Qualifying Name', u'Households: With Mobile Broadband',
       u'Households: With Mobile Broadband.1',
       u'Households: With Mobile Broadband.2',
       u'Households: With Mobile Broadband.3',
       u'Households: With Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup'],
      dtype='object')

In [178]:
WithMobileBroadband['Households With Mobile Broadband'] = WithMobileBroadband.sum(axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [179]:
WithMobileBroadband.head()

,Qualifying Name,Households: With Mobile Broadband,Households: With Mobile Broadband.1,Households: With Mobile Broadband.2,Households: With Mobile Broadband.3,Households: With Mobile Broadband.4,Households: Mobile Broadband Alone or With Dialup,Households With Mobile Broadband
0,NYC-Bronx Community District 1 & 2--Hunts Poin...,2,2,2,2,2,2,12
1,"NYC-Bronx Community District 10--Co-op City, N...",1,1,1,1,1,1,6
2,NYC-Bronx Community District 11--Pelham Parkwa...,1,1,1,1,1,1,6
3,"NYC-Bronx Community District 12--Wakefield, Ne...",1,1,1,1,1,1,6
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",2,2,2,2,2,2,12

In [181]:
WithoutMobileBroadband = df_infr2.iloc[:,[0, 8, 11, 14, 17, 20, 22]]

In [182]:
WithoutMobileBroadband.columns

Index([u'Qualifying Name', u'Households: Without Mobile Broadband',
       u'Households: Without Mobile Broadband.1',
       u'Households: Without Mobile Broadband.2',
       u'Households: Without Mobile Broadband.3',
       u'Households: Without Mobile Broadband.4',
       u'Households: Internet Access Without A Subscription'],
      dtype='object')

In [183]:
WithoutMobileBroadband['Households Without Mobile Broadband'] = WithoutMobileBroadband.sum(axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [184]:
WithoutMobileBroadband.head()

,Qualifying Name,Households: Without Mobile Broadband,Households: Without Mobile Broadband.1,Households: Without Mobile Broadband.2,Households: Without Mobile Broadband.3,Households: Without Mobile Broadband.4,Households: Internet Access Without A Subscription,Households Without Mobile Broadband
0,NYC-Bronx Community District 1 & 2--Hunts Poin...,2,2,2,2,2,2,12
1,"NYC-Bronx Community District 10--Co-op City, N...",1,1,1,1,1,1,6
2,NYC-Bronx Community District 11--Pelham Parkwa...,1,1,1,1,1,1,6
3,"NYC-Bronx Community District 12--Wakefield, Ne...",1,1,1,1,1,1,6
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",2,2,2,2,2,2,12

In [186]:
mobile_broadband = pd.concat([WithMobileBroadband, WithoutMobileBroadband], axis=1)

In [187]:
mobile_broadband = mobile_broadband.iloc[:,[0, 7, 15]]

In [188]:
mobile_broadband.head()

,Qualifying Name,Households With Mobile Broadband,Households Without Mobile Broadband
0,NYC-Bronx Community District 1 & 2--Hunts Poin...,12,12
1,"NYC-Bronx Community District 10--Co-op City, N...",6,6
2,NYC-Bronx Community District 11--Pelham Parkwa...,6,6
3,"NYC-Bronx Community District 12--Wakefield, Ne...",6,6
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",12,12

In [194]:
#5
high =  df_infr2.iloc[:,[0, 6, 9, 12]]
high['Households With High Speed Internet'] = high.sum(axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [195]:
high.head()

,Qualifying Name,Households: Dsl,Households: Cable Modem,Households: Fiber-Optic,Households With High Speed Internet
0,NYC-Bronx Community District 1 & 2--Hunts Poin...,2,2,2,6
1,"NYC-Bronx Community District 10--Co-op City, N...",1,1,1,3
2,NYC-Bronx Community District 11--Pelham Parkwa...,1,1,1,3
3,"NYC-Bronx Community District 12--Wakefield, Ne...",1,1,1,3
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",2,2,2,6

In [196]:
low = df_infr2.iloc[:, [0, 5, 15]]
low['Households With Low Speed Internet'] = low.sum(axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [197]:
low.head()

,Qualifying Name,Households: Dial-Up Alone,Households: Satellite Internet Service,Households With Low Speed Internet
0,NYC-Bronx Community District 1 & 2--Hunts Poin...,2,2,4
1,"NYC-Bronx Community District 10--Co-op City, N...",1,1,2
2,NYC-Bronx Community District 11--Pelham Parkwa...,1,1,2
3,"NYC-Bronx Community District 12--Wakefield, Ne...",1,1,2
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",2,2,4

In [198]:
conection = pd.concat([low, high], axis=1)
connection = conection.iloc[:,[0,3, 8]]

In [199]:
connection.head()

,Qualifying Name,Households With Low Speed Internet,Households With High Speed Internet
0,NYC-Bronx Community District 1 & 2--Hunts Poin...,4,6
1,"NYC-Bronx Community District 10--Co-op City, N...",2,3
2,NYC-Bronx Community District 11--Pelham Parkwa...,2,3
3,"NYC-Bronx Community District 12--Wakefield, Ne...",2,3
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",4,6

In [201]:
complaints = ComDistLevel.merge(df_pop2,on='cd_id',how='outer').merge(mobile_broadband,on='Qualifying Name',how='outer').merge(connection,on='Qualifying Name',how='outer')

KeyError: 'cd_id'